<% include ../full-partials/header %>
    <section class="hero news-heading full-width animated fadeIn">
        <img src="https://allerton.s3.amazonaws.com/<%= job.image1 %>" alt="<%=job.title%>">

        <div class="container">
            <div class="row">
                <h2><%=job.title%></h2>
                <div class="user-controls">
                    <% if (currentUser && job.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-xs btn-warning" href="/news/<%= job._id %>/edit">Edit</a>
                        <form id="delete-form" action="/news/<%= job._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
    <section id="individual-job" class="individual-job">
        <div class="container">
            <div class="row">
                <p><%- job.description %></p>
                <p>
                    <em>Submitted By <%= job.author.username %></em>
                </p>
            </div>
        </div>
    </section>
    <% include ../full-partials/footer %>